/* headder  */
.header-body{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  background-color: black;
  color: white;
}
.title-header{
  display: flex;
}
/* searchbox */
/* content */
/* footer */